* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.section {
    padding: 2rem 0;
}

.container {
    width: 980px;
    margin: 0 auto;
    padding: 0 1rem;
}

.row {
    display: flex;
}